openapi: 3.0.0

info:
  title: 网易云信 API 文档
  version: '0.0.1'
  description: ''
  termsOfService: 'http://swagger.io/terms/'

servers:
  - url: 'https://api.netease.im/nimserver'
    description: 网易云信服务器

paths:
  '/user/create.action':
    parameters:
      - $ref: '#/components/parameters/AppKey'
      - $ref: '#/components/parameters/Nonce'
      - $ref: '#/components/parameters/CurTime'
      - $ref: '#/components/parameters/CheckSum'
    post:
      summary: 创建用户
      tags:
        - 用户
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateUserBody'
      responses:
        '200':
          description: 返回200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUserResponse'

components:
  parameters:
    AppKey:
      name: AppKey
      in: header
      schema:
        type: string
      required: true
    Nonce:
      name: Nonce
      in: header
      schema:
        type: string
      required: true
    CurTime:
      name: CurTime
      in: header
      schema:
        type: string
      required: true
    CheckSum:
      name: CheckSum
      in: header
      schema:
        type: string
      required: true

  schemas:
    CreateUserBody:
      type: object
      required:
        - accid
      properties:
        accid:
          type: string
        name:
          type: string
    CreateUserResponse:
      type: object
      required:
        - code
        - info
      properties:
        code:
          type: integer
          description: 返回码
        info:
          type: object

tags:
  - name: 用户
    description: 用户相关接口
